name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ajktown
        password: ${{ secrets.AJKTOWN_ORG_ACTION }}

    - name: Build the Docker image for PR
      if: github.event_name == 'pull_request'
      run: docker build . --file Dockerfile --tag ajktown/consistency:pr-${{ github.event.pull_request.number }}

    - name: Push the Docker image for PR
      if: github.event_name == 'pull_request'
      run: docker push ajktown/consistency:pr${{ github.event.pull_request.number }}

    - name: Build the Docker image as latest
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: docker build . --file Dockerfile --tag ajktown/consistency:latest

    - name: Push the Docker image as latest
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: docker push ajktown/consistency:latest
